.logo-wrapper {
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 1%;
  }
  .logo {
    object-fit: cover;
  }
  .logo-text {
    font-family: "Fredoka One", cursive;
    font-size: 10rem;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 1%;
  }