@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

$myColor: #59bfa9;

.search-results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.search-text {
  font-family: "Fredoka One", cursive;
  font-size: 4rem;
  border-bottom: 0.5rem solid darken($myColor, 10%);
  padding: 0.1%;
  border-radius: 1rem;
  white-space: nowrap;
}
[class*="col"] {
  background-color: transparent !important;
  border: none !important;
}
[class*="card"] {
  background-color: transparent !important;
  border: none !important;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  justify-content: center;
}
.display-item {
  position: relative;
  margin: 10px;
  transition: transform 0.5s ease;
}
.display-item:hover {
  transform: scale(1.1);

  overflow: visible;
  z-index: 50;
}
.search-bar-container {
  display: block;
  flex: 1;
  padding-left: 5px;
}

.btn-secondary {
  margin-left: 1rem;

  display: flex;
  transition: all 500ms ease-in-out;
  align-items: center;
}
.btn-search-result span {
  cursor: pointer;
  display: none;

  transition: all 500ms ease-in-out;
}

.btn-search-result span:after {
  content: "Add to Home Screen?";
  font-family: "Fredoka One", cursive;
}

.btn-search-result:hover span {
  display: inline-flex;
}

.btn-search-result:hover span:after {
  opacity: 1;
  right: 0;
}
.input[type="text"] {
  transition: all 1.4s ease-in-out;
  height: 50px;
  border: none;
}

.input[type="text"]:focus {
  width: 25%;
}
