@import url("../../assets/font-awesome-4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

$myColor: #59bfa9;

.vote-container {
  display: block;
  background-color: transparent;
  border: 1px solid black;
}

