@import url("../../assets/font-awesome-4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

$myColor: #59bfa9;
$pulse:  #ef6eae;
.vote-container {
  display: block;
  position: absolute;
  background-color: transparent;
  border: 2px solid;
  left: 0;
  top: 0;
}
.share-text{
  color: white;
  font-family: "Fredoka One";
  cursor: pointer;
  
}
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

