.search-results {
  display: flex;
  flex-wrap: wrap;


}

[class *="col"]{
  
  background-color: transparent !important;
  border: none !important;

  
}
[class *="card"]{
  
  background-color: transparent !important;
  border: none !important;

  
}

.display-item {
  position: relative;
  margin: 10px;
  transition: transform 0.5s ease;
}
.display-item:hover {
  transform: scale(1.1);

  overflow: visible;
  z-index: 50;
}

.gif-img {
 

  opacity: 0.5;
  object-fit: cover;
  transition: all 500ms ease-in-out;
  /* object-fit: contain; */
}
.gif-img:hover {
  transform: scale(1.1);
  opacity: 1;
  overflow: hidden;
  object-fit: contain;
}



.btn-secondary{
  height: max-content;
  margin-left: 1rem;
  width: max-content;
  display: flex;
  transition: all 500ms ease-in-out;
  align-items: center;
}
.btn-search-result span {
  cursor: pointer;
  display: none;

  transition: all 500ms ease-in-out;
}

.btn-search-result span:after {
  content: "Add to Home Screen?";
}

.btn-search-result:hover span {
  display: inline-flex;
}

.btn-search-result:hover span:after {
  opacity: 1;
  right: 0;
}
